.navigation {
    text-align: center;
    background-color: rgb(131, 133, 132);
    margin-left: -20px;
    margin-right: -20px;
}

.navigation__list {
    list-style-type: none;
    line-height: 1.6;
}

.navigation__link {
    color: #fff;
    text-decoration: none;
}

.navigation__link:visited {
    color: rgb(224, 224, 225);
}

.navigation__link:focus {
    outline: 1px solid currentColor;
}

.navigation__link:hover {
    color: rgb(192, 192, 195);
    border-bottom: 1px solid;
    outline: none;
}

.navigation__link:active {
    color: rgb(26, 21, 120);
}